@import 'reset.css';
@import 'animate.min.css';
@import 'swiper.min.css';

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
}

#app,
.home {
	width: 100%;
	height: 100%;
}

.cover-modal {
	width: 100vw;
	height: calc(3248vw / 15);
	background-size: cover;
	position: absolute;
	z-index: 9;
}

.logo {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: 3s;
	width: calc((627 / 1500) * 100vw);

}

.logo.active {
	opacity: 1;
}

.red-point {
	z-index: 9;
	display: none;
	position: absolute;
	left: calc(147 / 1500 * 100vw);
	top: calc(1097 / 1500 * 100vw);
	width: calc(57 / 1500 * 100vw);
	animation: scalePoint 1.778s infinite;
}

.red-point.active {
	display: block;
}

@keyframes scalePoint {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.778);
	}

	100% {
		transform: scale(1);
	}
}

.container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: 10;
	height: calc(3248vw / 15);
}
