@import "reset.css";
@import "animate.min.css";
@import "swiper.min.css";

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  vertical-align: middle;
}
div {
  will-change: transform;
  will-change: opacity;
}
.icon-to-top {
  width: 0.455rem;
}
// #app,
// .home {
// 	width: 100%;
// 	height: 100%;
// }
.swiper-page {
  position: relative;
  width: 100%;
  height: 100%;
  .swiper-button-next,
  .swiper-button-prev {
    position: fixed;
    left: 0.65rem;
    top: 50%;
    // transform: translateY(-50%);
    width: 0.25rem;
    background: none;
  }
  .swiper-button-next {
    left: auto;
    right: 0.65rem;
  }
}
.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10;
  height: calc(3248vw / 15);
}
.icon-red-point {
  width: 0.285rem;
}
.icon-red-point-a {
  width: 0.505rem;
}
@keyframes scalePoint {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.778);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes scalePointSmall {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes scaleCom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes nextMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(61.8%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes handPoint {
  0% {
    top: calc(1538 / 3248 * 100vh);
    right: calc(115 / 1500 * 100vw);
  }

  50% {
    top: calc(1938 / 3248 * 100vh);
    right: calc(515 / 1500 * 100vw);
  }

  100% {
    top: calc(1538 / 3248 * 100vh);
    right: calc(115 / 1500 * 100vw);
  }
}
@keyframes binging {
  0% {
    opacity: 1;
    // filter: grayscale(1);
  }

  50% {
    opacity: 0.5;
    // filter: grayscale(0.5);
  }

  100% {
    opacity: 1;
    // filter: grayscale(1);
  }
}

.home {
  .main-swiper {
    .swiper-slide {
      min-height: 100vh;
      &.p1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .swiper-prev,
  .swiper-prev-person {
    position: fixed;
    z-index: 100;
    width: 0.435rem;
    height: 0.6rem;
    left: 0.6rem;
    top: 0.825rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-next {
    position: fixed;
    z-index: 100;
    width: 0.66rem;
    left: 50%;
    bottom: 0.2rem;
    transform: translateX(-50%);
  }
  .img {
    text-align: center;
    img {
      transition: 2s;
    }
  }
  .logo {
    flex-shrink: 1;
    &.small {
      img {
        max-width: 3.72rem;
      }
    }
    img {
      max-width: 4.65rem;
    }
  }
  .heart {
    margin: 1vh 0;
    width: 100%;
    img {
      width: 1.425rem;
    }
  }
  .video {
    flex-shrink: 0;
    height: 0;
    width: 0;
    transition: height 2s;
    margin: 1vh 0;
    &.active {
      width: 100%;
      height: initial;
    }
  }
  .all-person {
    flex-shrink: 1;
    &.small {
      img {
        max-width: 5.6rem;
      }
    }
    img {
      max-width: 6rem;
    }
  }
}
.main1 {
  background: #cc0619;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .main1-logo {
    transition: 2s;
    transform: scale(2.5);
    width: 4.9rem;
    margin-bottom: 0.2rem;
    &.active {
      transform: scale(1);
    }
  }
  .main1-img {
    width: 6.58rem;
  }
}

.main2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .main2-logo {
    width: 4.845rem;
    margin-bottom: 7.4vh;
    transition: 1s;
    &.active {
      position: absolute;
      left: 50%;
      top: 1.125rem;
      transform: translateX(-50%);
    }
  }
  ul {
    width: 6.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 1s;
    &.list2 {
      .item1 {
        order: 6;
      }
      .item2 {
        order: 1;
      }
      .item3 {
        order: 5;
      }
      .item4 {
        order: 2;
      }
      .item5 {
        order: 8;
      }
      .item6 {
        order: 4;
      }
      .item7 {
        order: 7;
      }
      .item8 {
        order: 3;
      }
      .item9 {
        order: 9;
      }
    }
    &.list3 {
      .item1 {
        order: 5;
      }
      .item2 {
        order: 8;
      }
      .item3 {
        order: 6;
      }
      .item4 {
        order: 2;
      }
      .item5 {
        order: 1;
      }
      .item6 {
        order: 3;
      }
      .item7 {
        order: 7;
      }
      .item8 {
        order: 4;
      }
      .item9 {
        order: 9;
      }
    }
  }
  li {
    width: 1.77rem;
    margin-bottom: 0.3rem;
  }
  .play {
    margin-top: 2.78vh;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      margin-bottom: 0.2rem;
      width: 0.765rem;
      animation: scalePointSmall 2s infinite;
    }
  }
  .top {
    position: absolute;
    z-index: 10;
    width: 0.455rem;
    right: 0.65rem;
    top: 90vh;
  }
  .intro {
    overflow: scroll;
    max-height: calc(100vh - 3.6rem);
    padding: 0.5rem 0.65rem 1.2rem;
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    bottom: 0;
    opacity: 0;
    background: rgba(188, 4, 17, 0.8);
    transition: 1s;
    &.active {
      opacity: 1;
      z-index: 1;
    }
    p {
      color: #fff;
      font-size: 0.3rem;
      line-height: 2em;
      margin-bottom: 0.5rem;
      text-align: justify;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@keyframes roomIn {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes roomInOnly {
  0% {
    transform: scale(1) translate(-50%);
  }

  50% {
    transform: scale(1.2) translate(-50%);
  }

  100% {
    transform: scale(1) translate(-50%);
  }
}
@keyframes roomBig {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
  }
}
#video2 {
  position: fixed;
  left: -9999px;
  top: -9999px;
  z-index: -1;
}
.main-angel {
  position: relative;
  li {
    position: absolute;
    width: 0.55rem;
    top: 8.08rem;
    left: 1.2rem;
    &.active {
      animation: roomIn 2s 1.5s 2;
    }
    &.shoot {
      animation: roomBig 1.5s 1;
    }
    &:nth-child(2) {
      left: 2.3rem;
      top: 7.9rem;
    }
    &:nth-child(3) {
      left: 4.8rem;
      top: 7.68rem;
    }
    &:nth-child(4) {
      left: 6.5rem;
      top: 7.95rem;
    }
    &:nth-child(5) {
      left: 0.68rem;
      top: 11.1rem;
    }
    &:nth-child(6) {
      left: 3.9rem;
      top: 11.3rem;
    }
    &:nth-child(7) {
      left: 6.4rem;
      top: 11.3rem;
    }
  }
  .angel-con {
    .text {
      position: absolute;
      top: 2.2rem;
      left: 1.6rem;
      width: 2.88rem;
      &.active {
        animation: roomIn 1.5s 1;
      }
    }
    .text2 {
      position: absolute;
      top: calc(6rem - 0.935rem);
      left: 50%;
      transform: translate(-50%);
      width: 1.72rem;
      &.active {
        animation: roomInOnly 1.5s infinite;
      }
    }
    .angel {
      position: absolute;
      top: 2rem;
      right: -1.735rem;
      width: 1.735rem;
      transition: 1s;
      &.active {
        right: 0.9rem;
      }
      &.arrow0 {
        transform: rotate(5deg);
      }
      &.arrow1 {
        transform: rotate(0);
      }
      &.arrow2 {
        transform: rotate(-23deg);
      }
      &.arrow3 {
        transform: rotate(-55deg);
      }
      &.arrow4 {
        transform: rotate(-5deg);
      }
      &.arrow5 {
        transform: rotate(-24deg);
      }
      &.arrow6 {
        transform: rotate(-50deg);
      }
    }
  }
  .arrow {
    position: absolute;
    width: 0.53rem;
    display: none;
    transition: 1s;
    &.show {
      display: block;
    }
    &.arrow0 {
      left: 4.87rem;
      top: 3rem;
      transform: rotate(8deg);
      &.active {
        top: 7.4rem;
        left: 1.5rem;
      }
    }
    &.arrow1 {
      left: 4.9rem;
      top: 3.1rem;
      transform: rotate(2deg);
      &.active {
        top: 7.2rem;
        left: 2.5rem;
      }
    }
    &.arrow2 {
      left: 5.2rem;
      top: 3.2rem;
      transform: rotate(-20deg);
      &.active {
        top: 6.9rem;
        left: 4.88rem;
      }
    }
    &.arrow2 {
      left: 5.2rem;
      top: 3.2rem;
      transform: rotate(-20deg);
      &.active {
        top: 6.9rem;
        left: 4.88rem;
      }
    }
    &.arrow3 {
      left: 5.7rem;
      top: 3.4rem;
      transform: rotate(-45deg);
      &.active {
        top: 7.1rem;
        left: 6.35rem;
      }
    }
    &.arrow4 {
      left: 4.9rem;
      top: 3.2rem;
      transform: rotate(0deg);
      &.active {
        top: 10.3rem;
        left: 1rem;
      }
    }
    &.arrow5 {
      left: 5.2rem;
      top: 3.2rem;
      transform: rotate(-18deg);
      &.active {
        top: 10.5rem;
        left: 4.05rem;
      }
    }
    &.arrow6 {
      left: 5.6rem;
      top: 3.2rem;
      transform: rotate(-40deg);
      &.active {
        top: 10.5rem;
        left: 6.35rem;
      }
    }
  }
}
@keyframes binging {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
.person-swiper-navigation {
  position: relative;
  z-index: 10;
}
.swiper-button-disabled {
  display: none;
}
.person-swiper-next,
.person-swiper-prev,
.swiper-prev-new,
.swiper-next-new {
  position: fixed;
  left: 0.2rem;
  top: 50%;
  transform: translateY(-50%) rotateZ(180deg);
  z-index: 10;
  width: 0.25rem;
  &.swiper-button-disabled {
    filter: grayscale(0.5);
  }
}
.person-swiper-next,
.swiper-next-new {
  transform: translateY(-50%);
  left: auto;
  right: 0.2rem;
}
.person-swiper {
  .swiper-slide {
    position: relative;
    min-height: 100vh;
    .chat {
      position: absolute;
      z-index: 10;
      width: 0.505rem;
      animation: scalePointSmall 2s infinite;
    }
    .top {
      position: absolute;
      z-index: 10;
      width: 0.455rem;
      right: 0.65rem;
      top: 90vh;
    }
    &:nth-child(1) {
      .chat {
        top: 4.2rem;
        left: 4.4rem;
      }
    }
    &:nth-child(2) {
      .chat {
        top: 5.7rem;
        left: 5.4rem;
      }
    }
    &:nth-child(3) {
      .chat {
        top: 3.4rem;
        left: 4.8rem;
      }
    }
    &:nth-child(4) {
      .chat {
        top: 3.2rem;
        left: 4.4rem;
      }
    }
    &:nth-child(5) {
      .chat {
        top: 3.8rem;
        left: 4.8rem;
      }
    }
    &:nth-child(6) {
      .chat {
        top: 7.7rem;
        left: 4rem;
      }
    }
    &:nth-child(7) {
      .chat {
        top: 3.8rem;
        left: 4.4rem;
      }
    }
  }
}
.person-text-con {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  .text {
    position: absolute;
    left: 0.65rem;
    bottom: 1.15rem;
  }
}
.chat-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/1f6ef7f9769afeec23845a8c7b835a57.jpg) center
    top no-repeat / cover;
  z-index: 10;
  .chat-bottom-con {
    height: 1.15rem;
    .chat-bottom {
      position: fixed;
      left: 0;
      bottom: 0;
    }
  }
  .chat-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .chat-item {
    width: 100vw;
    min-height: calc(100vh - 1.15rem);
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    &:nth-child(2) .chat-list .item:nth-child(2n):before {
      background-image: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/67de33cc99dbcc5a963bd528c80fd300.png);
    }
    &:nth-child(3) .chat-list .item:nth-child(2n):before {
      background-image: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/4449c87c1039ad1e3fb206a5a7902add.png);
    }
    &:nth-child(4) .chat-list .item:nth-child(2n):before {
      background-image: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/73bc76a3bea9ecd67a65c3b946abd78d.png);
    }
    &:nth-child(5) .chat-list .item:nth-child(2n):before {
      background-image: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/a1c69c1a3bdb221ed69f1f8573bc81a8.png);
    }
    &:nth-child(6) .chat-list .item:nth-child(2n):before {
      background-image: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/eb7772caae266585973593ca6160cb28.png);
    }
    &:nth-child(7) .chat-list .item:nth-child(2n):before {
      background-image: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/c78ec0c48e9c043fa54f69761f539a01.png);
    }
    .chat-logo {
      position: absolute;
      top: 0.32rem;
      width: 100%;
      text-align: center;
      width: 100%;
    }
    &:nth-of-type(1) {
      .chat-logo {
        img {
          width: 2.01rem;
        }
      }
    }
    .chat-list {
      margin-top: 2.74rem;
      .item {
        padding: 0 0.3rem;
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.35rem;
        &:nth-child(2n-1) {
          justify-content: flex-end;
          &::after {
            display: block;
            content: "";
            width: 0.745rem;
            height: 0.77rem;
            background-image: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/694513b6716787e74f7b1d3a3d502335.png);
            background-size: cover;
            background-position: center;
          }
        }
        &:nth-child(2n) {
          &::before {
            display: block;
            content: "";
            width: 0.735rem;
            height: 0.73rem;
            background-image: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/7db0566af6db224dca81d99615a9c08c.png);
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }
}
.person-intro {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 1s;
  &.active {
    z-index: 10;
    opacity: 1;
  }
  .item {
    width: 4.9rem;
    margin-left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: #fff;
    overflow: hidden;
    .person-logo {
      display: block;
      margin: 0.4rem auto 0.6rem;
    }
    p {
      font-size: 0.3rem;
      padding: 0 0.15rem;
      text-align: justify;
      line-height: 1.5em;
      margin-bottom: 0.4rem;
    }
  }
}
.loading-container {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.72);
  width: 100%;
  height: 100%;
  z-index: 100;
  .loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .loading-progress {
    position: relative;
    margin: 0 auto 0.35rem;
    width: 1.555rem;
    height: 0.255rem;
    background: url(http://static-yizhou.oss-cn-beijing.aliyuncs.com/magazine/f3ea5985cbb0d4d452921c782bca45bf.png)
      center / cover;
    .line {
      background: #ff0000;
      height: 0.115rem;
      position: absolute;
      top: 0.07rem;
      left: 0.095rem;
    }
  }
  ul {
    display: flex;
    height: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  li {
    width: 0.55rem;
    margin: 0 0.1rem;
    transform-origin: 50% 100%;
    transition: 0.3s;
    animation: headLoading 4s ease infinite;
  }
}

@keyframes headLoading {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.person-text-hand {
  position: fixed;
  right: 0.65rem;
  bottom: 0.65rem;
  width: 0.93rem;
  z-index: 10;
}
